body {
	font-family: Balthazar, serif;
}

div.instrument_panel {
	width: 1125px;
	height: 792px;
	background-image: url("instrument_panel.png");
	float: left;
}

div.move_reference {
}

div.engine {
	width: 554px;
	height: 322px;
	background-image: url("engine.png");
	float: left;
	margin-top: 9px;
}

div.weapon {
	width: 561px;
	height: 347px;
	background-image: url("weapon.png");
	float: left;
}

div.load_selected {
	background: rgba(200, 100, 0, 0.3);
}

div.load_indicator {
	position: absolute;
	height: 40px;
	width: 375px;
	z-index: 1;
}

div.full_load {
	top: 71px;
	left: 400px;
}

div.half_fuel_bombs {
	top: 111px;
	left: 400px;
}

div.full_fuel_no_bombs {
	top: 151px;
	left: 400px;
}

div.half_fuel_no_bombs {
	top: 191px;
	left: 400px;
}

div.empty {
	top: 231px;
	left: 400px;
}

div.g_force_gauge {
	position: absolute;
	z-index: 1;
	height: 39px;
	width: 50px;
	left: 739px;
}

div.g_force_hidden {
	background: rgba(255, 255, 255, 0);
}

div.g_force_0 {
	background: rgba(0, 200, 96, 0.3);
	top: 680px;
	visibility: visible;
}

div.g_force_1 {
	top: 641px;
}

div.g_force_1_visible {
	background: rgba(20, 180, 88, 0.3);
}

div.g_force_2 {
	top: 602px;
}

div.g_force_2_visible {
	background: rgba(40, 160, 80, 0.3);
}

div.g_force_3 {
	top: 564px;
}

div.g_force_3_visible {
	background: rgba(60, 140, 72, 0.3);
}

div.g_force_4 {
	top: 525px;
}

div.g_force_4_visible {
	background: rgba(80, 120, 88, 0.3);
}

div.g_force_5 {
	top: 486px;
}

div.g_force_5_visible {
	background: rgba(100, 100, 60, 0.3);
}

div.g_force_6 {
	top: 448px;
}

div.g_force_6_visible {
	background: rgba(120, 80, 52, 0.3);
}

div.g_force_7 {
	top: 409px;
}

div.g_force_7_visible {
	background: rgba(140, 60, 44, 0.3);
}

div.g_force_8 {
	top: 371px;
}

div.g_force_8_visible {
	background: rgba(160, 40, 36, 0.3);
}

div.g_force_9 {
	top: 332px;
}

div.g_force_9_visible {
	background: rgba(180, 20, 28, 0.3);
}

div.g_force_10 {
	top: 293px;
}

div.g_force_10_visible {
	background: rgba(200, 0, 20, 0.3);
}

div.move_odd {
	padding-top: 3px;
	padding-bottom: 3px;
}

div.move_even {
	padding-top: 5px;
	padding-bottom: 3px;
	background: rgba(200, 200, 200);
}

span.move_title {
	padding-right: 5px;
	font-weight: bold;
}

input.number {
	width: 40px;
	border: 0px none;
	font-family: Balthazar, serif;
	font-size: 16;
	z-index: 10;
	background: rgba(255, 255, 255, 0);
}

input.big_number {
	width: 60px;
	border: 0px none;
	font-family: Balthazar, serif;
	font-size: 40px;
	background: rgba(255, 255, 255, 0);
}

input.text {
	border: 0px none;
	font-family: Balthazar, serif;
}

textarea.notes {
	border: 0px none;
	font-family: Balthazar, serif;
	position: absolute;
	top: 680px;
	left: 340px;
	width: 375px;
	height: 62px;
	resize: none;
}

input.altitude {
	position: absolute;
	top: 170px;
	left: 170px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid;
}

.visibility {
	position: absolute;
	top: 430px;
	left: 117px;
}

.energy_loss {
	position: absolute;
	top: 475px;
	left: 55px;
}

.turn_bleed {
	position: absolute;
	top: 475px;
	left: 180px;
}

.stability {
	position: absolute;
	top: 525px;
	left: 117px;
}

.stress {
	position: absolute;
	top: 465px;
	left: 264px;
}

.escape {
	position: absolute;
	top: 607px;
	left: 63px;
}

.crash {
	position: absolute;
	top: 687px;
	left: 63px;
}

.max_toughness {
	position: absolute;
	top: 615px;
	left: 169px;
}

.current_toughness {
	position: absolute;
	top: 615px;
	left: 235px;
}

.max_strain {
	position: absolute;
	top: 695px;
	left: 169px;
}

.current_strain {
	position: absolute;
	top: 695px;
	left: 235px;
}

.fuel {
	position: absolute;
	top: 285px;
	left: 400px;
	width: 50px;
	border: 0px none;
	font-family: Balthazar, serif;
	font-size: 30px;	
}

.full_load_boost {
	position: absolute;
	top: 80px;
	left: 480px;
}

.full_load_handling {
	position: absolute;
	top: 80px;
	left: 542px;
}

.full_load_climb {
	position: absolute;
	top: 80px;
	left: 604px;
}

.full_load_stall {
	position: absolute;
	top: 80px;
	left: 666px;
}

.full_load_speed {
	position: absolute;
	top: 80px;
	left: 728px;
}

.half_fuel_bombs_boost {
	position: absolute;
	top: 120px;
	left: 480px;
}

.half_fuel_bombs_handling {
	position: absolute;
	top: 120px;
	left: 542px;
}

.half_fuel_bombs_climb {
	position: absolute;
	top: 120px;
	left: 604px;
}

.half_fuel_bombs_stall {
	position: absolute;
	top: 120px;
	left: 666px;
}

.half_fuel_bombs_speed {
	position: absolute;
	top: 120px;
	left: 728px;
}

.full_fuel_no_bombs_boost {
	position: absolute;
	top: 160px;
	left: 480px;
}

.full_fuel_no_bombs_handling {
	position: absolute;
	top: 160px;
	left: 542px;
}

.full_fuel_no_bombs_climb {
	position: absolute;
	top: 160px;
	left: 604px;
}

.full_fuel_no_bombs_stall {
	position: absolute;
	top: 160px;
	left: 666px;
}

.full_fuel_no_bombs_speed {
	position: absolute;
	top: 160px;
	left: 728px;
}

.half_fuel_no_bombs_boost {
	position: absolute;
	top: 200px;
	left: 480px;
}

.half_fuel_no_bombs_handling {
	position: absolute;
	top: 200px;
	left: 542px;
}

.half_fuel_no_bombs_climb {
	position: absolute;
	top: 200px;
	left: 604px;
}

.half_fuel_no_bombs_stall {
	position: absolute;
	top: 200px;
	left: 666px;
}

.half_fuel_no_bombs_speed {
	position: absolute;
	top: 200px;
	left: 728px;
}

.empty_boost {
	position: absolute;
	top: 240px;
	left: 480px;
}

.empty_handling {
	position: absolute;
	top: 240px;
	left: 542px;
}

.empty_climb {
	position: absolute;
	top: 240px;
	left: 604px;
}

.empty_stall {
	position: absolute;
	top: 240px;
	left: 666px;
}

.empty_speed {
	position: absolute;
	top: 240px;
	left: 728px;
}

.vital_part_1 {
	position: absolute;
	top: 380px;
	left: 340px;
	height: 25px;
	width: 185px;
}

.vital_part_2 {
	position: absolute;
	top: 408px;
	left: 340px;
	height: 25px;
	width: 185px;
}

.vital_part_3 {
	position: absolute;
	top: 436px;
	left: 340px;
	height: 25px;
	width: 185px;
}

.vital_part_4 {
	position: absolute;
	top: 463px;
	left: 340px;
	height: 25px;
	width: 185px;
}

.vital_part_5 {
	position: absolute;
	top: 490px;
	left: 340px;
	height: 25px;
	width: 185px;
}

.vital_part_6 {
	position: absolute;
	top: 380px;
	left: 528px;
	height: 25px;
	width: 185px;
}

.vital_part_7 {
	position: absolute;
	top: 408px;
	left: 528px;
	height: 25px;
	width: 185px;
}

.vital_part_8 {
	position: absolute;
	top: 436px;
	left: 528px;
	height: 25px;
	width: 185px;
}

.vital_part_9 {
	position: absolute;
	top: 463px;
	left: 528px;
	height: 25px;
	width: 185px;
}

.vital_part_10 {
	position: absolute;
	top: 490px;
	left: 528px;
	height: 25px;
	width: 185px;
}

.armor {
	position: absolute;
	top: 545px;
	left: 340px;
	height: 25px;
	width: 375;
}

.ordinance_1 {
	position: absolute;
	top: 600px;
	left: 340px;
	height: 25px;
	width: 185px;
}

.max_bomb_load {
	position: absolute;
	top: 572px;
	left: 595px;
	height: 25px;
	width: 97;
}

.ordinance_2 {
	position: absolute;
	top: 628px;
	left: 340px;
	height: 25px;
	width: 185px;
}

.ordinance_3 {
	position: absolute;
	top: 600px;
	left: 528px;
	height: 25px;
	width: 185px;
}

.ordinance_4 {
	position: absolute;
	top: 628px;
	left: 528px;
	height: 25px;
	width: 185px;
}

input.airspeed {
	position: absolute;
	top: 170px;
	left: 920px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid;
}

.dropoff {
	position: absolute;
	top: 345px;
	left: 1025px;
}

.kills {
	position: absolute;
	top: 420px;
	left: 815px;
	height: 50px;
	width: 265px;
	border: 0px none;
	font-family: Balthazar, serif;
	resize: none;
}

input.rpm {
	position: absolute;
	top: 967px;
	left: 85px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid;
}

input.wear {
	position: absolute;
	top: 967px;
	left: 428px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid;
}

.reliability {
	position: absolute;
	top: 846px;
	left: 210px;
	height: 26px;
}

.ideal_altitide_0 {
	position: absolute;
	top: 851px;
	left: 314px;
	height: 26px;
}

.ideal_altitide {
	position: absolute;
	top: 846px;
	left: 335px;
	height: 26px;
}

.overspeed {
	position: absolute;
	top: 846px;
	left: 435px;
	height: 26px;
}

.engine_notes {
	position: absolute;
	top: 875px;
	left: 163px;
	height: 26px;
	width: 338px;
}

.weapon_type {
	position: absolute;
	top: 900px;
	left: 600px;
	height: 26px;
	width: 260px;
}

.ammo {
	position: absolute;
	top: 967px;
	left: 650px;
	height: 26px;
}

.ap {
	position: absolute;
	top: 967px;
	left: 745px;
	height: 26px;
}

.jam {
	position: absolute;
	top: 967px;
	left: 792px;
	height: 25px;
	width: 75px;
	text-align: center;
}

.knife_hits {
	position: absolute;
	top: 1030px;
	left: 730px;
	height: 26px;
}

.close_hits {
	position: absolute;
	top: 1030px;
	left: 830px;
	height: 26px;
}

.long_hits {
	position: absolute;
	top: 1030px;
	left: 930px;
	height: 26px;
}

.extreme_hits {
	position: absolute;
	top: 1030px;
	left: 1020px;
	height: 26px;
}

.knife_damage {
	position: absolute;
	top: 1057px;
	left: 730px;
	height: 26px;
}

.close_damage {
	position: absolute;
	top: 1057px;
	left: 830px;
	height: 26px;
}

.long_damage {
	position: absolute;
	top: 1057px;
	left: 930px;
	height: 26px;
}

.extreme_damage {
	position: absolute;
	top: 1057px;
	left: 1020px;
	height: 26px;
}

.weapon_tags {
	border: 0px none;
	font-family: Balthazar, serif;
	position: absolute;
	top: 1083px;
	left: 588px;
	height: 60px;
	width: 499px;
	resize: none;
	border: 2px solid #606060;
}

